extends ../includes/layout_bici

block content
  div.container
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Modificar Bicicleta

    br
    br

    form(action=bici!=null?`/bicicletas/${bici.id}/update`:'/bicicletas/create' method="post")
      label(for="code") ID:
      input#code(type="text" name="id" value=bici!=null&&bici.id)
      br
      label(for="color") Color:
      input#color(type="text" name="color" value=bici!=null&&bici.color)
      br
      label(for="modelo") Modelo:
      input#modelo(type="text" name="modelo" value=bici!=null&&bici.modelo)
      br
      label(for="lat") Latitud:
      input#lat(type="text" name="lat" value=bici!=null&&bici.ubicacion[0])
      br
      label(for="lng") Longitud:
      input#lng(type="text" name="lng" value=bici!=null&&bici.ubicacion[1])
      br
      br
      input.btn(type='submit' value='OK')
